* 
{
    box-sizing:border-box;
}

body
{
    margin: 0;
    padding: 0;
    background-color: rgb(2,0,36);
    background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(8,232,34,1) 0%, rgba(63,226,102,1) 0%, rgba(50,241,98,1) 12%, rgba(38,190,221,1) 100%);
    color: white;

}

main
{
    font-family:'Courier New', Courier, monospace;
}

header, section
{
    text-shadow: 4px 4px 8px rgb(0,0,0);
    top: 10px;
}

header
{
    display:flex;
    align-content:center;
    flex-flow: column wrap;
    position: relative;
}

header p
{
    text-align:center;
    font-weight:bold;
    font-size: 25px;
}

header h1
{
    font-size:50px;
}

section > form
{
    display:flex;
    align-items:center;
    flex-flow:column nowrap;
    margin-top:30px;
    font-size: 150%;
}

label[for="imageURL"]
{
    position: relative;
    right: 46px;
}

button, input
{
    font-size: 18px;
}

#imageURL
{
    width: 70%;
    outline: none;
    position: relative;
    bottom: 33px;
    left: 250px;
    font-family: Garamond, serif;
    background-color: #FEC47E;
    color: rgb(9, 32, 62);
    font-weight: bold;
    border-color: white;
}

#imageURL:disabled
{
    background-color: #F4D1A7;
    border: none;
}

label[for="localImage"]
{
    position: relative;
    left: 20px;
}

#localImage
{
    color: rgba(0,0,0,0);
    position: relative;
    left: 150px;
}

#userLocalImgP
{
    font-weight: bold;
}

section > form *
{
    margin:7px;
}

#userLocalImgP
{
    font-family: "Times New Roman";
    font-size: 18px;
    text-align: center;
    margin-top: 18px;
}

footer
{
    background-color:rgb(9, 32, 62);
    color:white;
    position:absolute;
    bottom:0;
    width:100%;
    font-family:"Lucida Handwriting", cursive;
    font-size:12px;
}

footer .iconContainer 
{
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
    margin: 15px;
}

#imgIcon
{
    width: 18vh;
    background-color:rgb(14, 21, 44);
    border-radius:100%;
    margin-top:0px;
    margin-bottom:-40px;
    opacity: 0.5;
    z-index: -1;
}

.iconContainer h3 
{
    margin:5px;
    opacity: 0.5;
    z-index:1;
}