* 
{
    box-sizing:border-box;
}

body
{
    margin:0;
    padding:0;
    /*background-color: rgb(2,0,36);
    background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(8,232,34,1) 0%, rgba(63,226,102,1) 0%, rgba(50,241,98,1) 38%, rgba(38,190,221,1) 100%);*/

}

main
{
    font-family:'Courier New', Courier, monospace;
}

header
{
    display:flex;
    align-content:center;
    flex-flow: column wrap;
    margin-top:40px;
}

header p
{
    text-align:center;
    font-weight:bold;
}

header h1
{
    font-size:50px;
}

p, label
{
    font-size:20px;
}

section > form
{
    display:flex;
    align-items:center;
    flex-flow:column nowrap;
    margin-top:30px;
}

button:hover
{
    cursor: pointer;
}

#localImage
{
    color:  rgba(0,0,0,0); //This is how to hide the "No file chosen" of an html file input
}

section > form *
{
    margin:8px;
}

#userLocalImgP
{
    font-family: "Times New Roman";
    font-size: 17px;
    text-align: center;
    margin-top: 10px;
}

footer
{
    background-color:rgb(9, 32, 62);
    color:white;
    position:absolute;
    bottom:0;
    width:100%;
    font-family:"Lucida Handwriting", cursive;
    font-size:12px;
}

footer .iconContainer 
{
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
    margin:20px;
}

#imgIcon
{
    width: 18vh;
    background-color:rgb(14, 21, 44);
    border-radius:100%;
    margin-top:0px;
    margin-bottom:-40px;
    opacity: 0.5;
    z-index: -1;
}

.iconContainer h3 
{
    margin:5px;
    opacity: 0.5;
    z-index:1;
}